<section class="section-hero">
  <div class="twitter-float"><%= image_tag('twitter-float.png', class: 'floating-icon')%></div>
  <div class="podcast-float"><%= image_tag('podcast-float.png', class: 'floating-icon')%></div>
  <div class="mail-float"><%= image_tag('mail-float.png', class: 'floating-icon')%></div>
  <div class="book-float"><%= image_tag('book-float.png', class: 'floating-icon')%></div>
  <div class="article-float"><%= image_tag('article-float.png', class: 'floating-icon')%></div>
  <div class="youtube-float"><%= image_tag('youtube-float.png', class: 'floating-icon')%></div>
  <div class="hero-header">
    <h1> Stop forgetting your<br>favorite content.</h1>
    <h3>Create bite-sized takeaways called Snipps.</h3>
  </div>
  <div class="cta-button-placement">
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <div id="mailchimp" class="horizontal-mailchimp">
      <form action="https://gmail.us20.list-manage.com/subscribe/post?u=ee18994e08f14044c420c95d7&amp;id=cb08337b1e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter email address" required>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ee18994e08f14044c420c95d7_cb08337b1e" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Get Early Access" name="subscribe" id="mc-embedded-subscribe"></div>
        </div>
      </form>
    </div>
  </div>
</section>
<section class="section-about underlined">
  <h2>Remember What Matters</h2>
  <p class="long-copy">Podcasts, newsletters, articles, books, tweets, videos…we consume a lot of content without anywhere to put what we learn. With Snipps you save the most important points in one place and one format, so you can retain and implement.</p>
  <div class="snipps-container js--wp-1">
    <%= image_tag('video_snipp.png', class: 'snipp-item')%>
    <%= image_tag('tweet_snipp.png', class: 'snipp-item')%>
    <%= image_tag('podcast_snipp.png', class: 'snipp-item')%>
  </div>
</section>
<section class="section-features not-underlined">
  <h2>Build the Ultimate Database</h2>
  <div class="mobile-features-container">
    <div class="mobile-item">
      <div class="mobile-headers"><ion-icon name="cut"></ion-icon> One place, one format</div>
      <%= image_tag('mobile-form1.png', class: 'mobile-snipp-feature-item')%>
    </div>
    <div class="mobile-item">
      <div class="mobile-headers"><ion-icon name="filing"></ion-icon> Find everything quickly</div>
      <%= image_tag('mobile-library.png', class: 'mobile-snipp-feature-item')%>
    </div>
    <div class="mobile-item">
      <div class="mobile-headers"><ion-icon name="globe"></ion-icon> Retain and implement</div>
      <%= image_tag('mobile-community.png', class: 'mobile-snipp-feature-item')%>
    </div>
<!--     <div class="mobile-item">
      <div class="mobile-headers"><ion-icon name="contacts"></ion-icon> Snipps for Teams</div>
      <%#= image_tag('mobile-team-comments.png', class: 'mobile-snipp-feature-item')%>
    </div> -->
  </div>
  <div id="hero-tabs">
    <div class="hero-tabs-content">
      <div class="content-wrapper">
        <div class="hero-tabs-nav">
          <div class="tab-nav js--wp-3">
            <div class="tab tab-active js--wp-7" data-content=".one"><span><ion-icon name="cut"></ion-icon> One place, one format</span></div>
            <div class="tab js--wp-7" data-content=".two"><span><ion-icon name="filing"></ion-icon> Find everything quickly</span></div>
            <div class="tab js--wp-7" data-content=".three"><span><ion-icon name="globe"></ion-icon> Retain and implement</span></div>
            <!-- <div class="tab js--wp-7" data-content=".four"><span><ion-icon name="contacts"></ion-icon> Snipps for Teams</span></div> -->
          </div>
          <!--tab-nav-->
        </div>
        <!--tab-nav-wrapper-->
        <div class="hero-tabs-caption js--wp-2">
          <div class="one tab-content tab-content-active">
            <%= image_tag('snipping1.png', class: 'snipp-feature js--wp-8')%>
          </div>
          <div class="two tab-content">
            <%= image_tag('library.png', class: 'snipp-feature js--wp-8')%>
          </div>
          <div class="three tab-content">
              <%= image_tag('community-updated.png', class: 'snipp-feature js--wp-8')%>
          </div>
<!--           <div class="four tab-content">
            <%#= image_tag('team-comments.png', class: 'snipp-feature js--wp-8')%>
          </div> -->
        </div>
        <!--hero-tabs-caption-->
      </div>
      <!--content-wrapper-->
    </div>
    <!--hero-tabs-content-->
  </div>
</section>
<!-- <section class="section-teams underlined">
  <h2>Simplify How Your Team Learns</h2>
  <p class="long-copy">Snipps for Teams takes everything your team is learning and breaks it down into bite-sized takeaways. No more content overload. The use cases are endless for creating a database of short content takeaways.</p>
  <div class="teams-container">
    <div class="js--wp-4">
      <%#= image_tag('teams_illustration.png', class: 'teams-illustration') %>
    </div>
    <div class="js--wp-5">
      <ul>
        <li><ion-icon name="checkmark"></ion-icon>Start a client RFP thread, Snipp and comment the key areas.</li>
        <li><ion-icon name="checkmark"></ion-icon>Snipp the takeaways from the book your club is reading.</li>
        <li><ion-icon name="checkmark"></ion-icon>Have your students Snipp the case study assignment.</li>
        <li><ion-icon name="checkmark"></ion-icon>Snipp industry best practices and share new ideas to grow.</li>
      </ul>
    </div>
  </div>
</section> -->
<!-- <section class="section-plans underlined">
  <h2>Choose the Plan that’s Right for You</h2>
  <p class="long-copy subtitle">Pay by month or the year, and cancel at any time.</p>
  <div class="plans-container">
    <div class="plan-box">
      <div>
        <h4>Free</h4>
        <p class="plan-price">$0 <span>per month</span></p>
        <p class="plan-price-description">Test the core product feature. <br></p>
      </div>
      <div>
        <ul>
          <li><ion-icon name="checkmark"></ion-icon>Maximum 20 Snipps for personal library</li>
          <li>&nbsp;</li>
          <li>&nbsp;</li>
        </ul>
      </div>
    </div>
    <div class="plan-box js--wp-6">
      <div>
        <h4>Premium</h4>
        <p class="plan-price">$10 <span>per month</span></p>
        <p class="plan-price-description">Build a database and learn from others.</p>
      </div>
      <div>
        <ul>
          <li><ion-icon name="checkmark"></ion-icon>Unlimited Snipps for personal library</li>
          <li><ion-icon name="checkmark"></ion-icon>Unlimited access to community Snipps</li>
          <li>&nbsp;</li>
        </ul>
      </div>
    </div>
    <div class="plan-box">
      <div>
        <h4>Snipps for Teams</h4>
        <p class="plan-price">$15 <span>per month</span></p>
        <p class="plan-price-description">Access premium channels to discover and share.</p>
      </div>
      <div>
        <ul>
          <li><ion-icon name="checkmark"></ion-icon>Create private channels to share Snipps</li>
          <li><ion-icon name="checkmark"></ion-icon>Collaborate with threads and comments</li>
          <li><ion-icon name="checkmark"></ion-icon>Owner tracks group data and analytics </li>
        </ul>
      </div>
    </div>
  </div>
</section> -->
<section class="section-contact underlined">
  <h2>Learn with Us</h2>
  <p class="long-copy">Our team is hard at work building this members-only platform for you to enjoy noise-cancelling curation. Enter your email address to stay up-to-date on how the platform is developing and be one of the first to use Snipps!</p>
  <div class="cta-button-placement">
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <div id="mailchimp" class="horizontal-mailchimp">
      <form action="https://gmail.us20.list-manage.com/subscribe/post?u=ee18994e08f14044c420c95d7&amp;id=cb08337b1e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter email address" required>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ee18994e08f14044c420c95d7_cb08337b1e" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Get Early Access" name="subscribe" id="mc-embedded-subscribe"></div>
        </div>
      </form>
    </div>
  </div>
</section>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>

<script>
  $('.tab').on('click', function(){
    $(this).addClass('tab-active').siblings().removeClass('tab-active');
    var content = $(this).data('content');
    $(content).addClass('tab-content-active').siblings().removeClass('tab-content-active');
  });
</script>
